# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.RestarauntV2.iml
# Datasource local storage ignored files
/../../../../../../:\BlazorComponents\RestarauntV2\.idea\.idea.RestarauntV2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
